table {
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.header {
  text-align: center;
}

img {
  width: 60px;
  height: 40px;
}

.total {
  justify-content: right;
  /* margin-right: 125px; */
}
.footer{
  display: flex;
  justify-items: center;
  justify-content: space-around;
}
.btn{
  background-color: red;
  color: aliceblue;
}
